<!DOCTYPE html>
<html>
<head>
  <title>Personal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.stellar.min.js" %>
  <%= javascript_include_tag "waypoints.min.js" %>
  <%= javascript_include_tag "jquery.easing.1.3.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
